#description {
    display: flex;
    flex-direction: column;
}

#description img {
    display: flex;
    flex: 1 1 0;
    width: 100%;
    height: auto;
    border: solid white 5px;
}

#profile_pic {
    width: 25%;
}

#first-half {
    display: flex;
    flex-direction: row;
}

#first-half p {
    display: flex;
    flex: 3 3 0;
    padding-left: 2%;
}

#second-half {
    padding-top: 2%;
}