.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    border-bottom: none;
}

.navbar-nav .nav-link {
    padding: 4%;
}

#last-item {
    padding-left: 0%;
}

#icons {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-top: 0;
    margin-top: 0;
}

#icons img {
    width: 30%;
    height: auto;
}
#whole-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#no-pic {
    z-index: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#name {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0%;
    color: white;
    text-align: left;
    font-family: 'Square Peg', cursive;
}

#name h1 {
    font-size: 2em;
}

#pic {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0;
    width: 50%;
    height: 100%;
}

.navbar-collapse .navbar-nav{
    display: flex;
    flex-direction: column;
    text-align: right;
    height: fit-content;
}

.navbar-collapse .navbar-nav .nav-link {
    padding: 1%;
}

/*large desktop screens*/
@media (min-width: 1400px) {
    #small_screen_nav {
        display: none;
    }

    #icons a {
        display: block;
    }
}

/*regular desktop screens*/
@media (min-width: 992px) {
    #small_screen_nav {
        display: none;
    }
}

/*tablet screen*/
@media (max-width: 991px) {
    #big_screen_nav {
        display: none;
    }
    #name {
        width: 90%;
    }

    #pic img{
        height: 70%;
    }

    #pic {
        align-items: center;
    }

    #icons {
        width: 90%;
    }
}
/*mobile screen*/
@media (max-width: 767px) {
    #big_screen_nav {
        display: none;
    }
    #name {
        width: 90%;
    }

    #name h1 {
        font-size: 1.5em;
    }

    #pic {
        align-items: center;
    }

    #icons {
        width: 90%;
    }
}