.navbar-nav {
   display: flex;
   flex-direction: row; 
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   height: 70px;
   /* border-bottom: white solid 3px; */
}

#menu_links {
    width: 75%;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#last-item {
    padding-left: 0;
}

#icons {
    display: flex;
    width: 25%;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 1.5%;
}

#icons img {
    display: flex;
    flex: 1 1 0;
    height: 70%;
    width: auto;
}

#linkedin {
    padding-right: 5%;
}

.navbar {
    position: absolute;
    width: 100%;
    right: 5px;
    top: 25px;
    z-index: 2;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.navbar-nav .nav-link {
    padding: 1.5%;
    color: white;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    color: white;
    background-color: transparent;
}

.navbar-collapse {
    padding-right: 12px;
}

/*large desktop screens*/
@media (min-width: 1400px) {

}

/*regular desktop screens*/
@media (max-width: 1399px) and (min-width: 992px) {

}

/*tablet screen*/
@media (max-width: 991px) and (min-width: 768px) {
    .navbar-nav {
        width: 70%;
    }

    #menu_links {
        width: 100%;
        justify-content: center;
    }

    #icons {
        display: none;
    }
}
/*mobile screen*/
@media (max-width: 767px) {
    .navbar-nav {
        width: 90%
    }

    #menu_links {
        width: 100%;
        justify-content: center;
    }

    #icons {
        display: none;
    }
}

