#pictures {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#pictures img {
    margin: 2%;
    border: solid white 7px;
    display: flex;
    flex: 1 1 0;
    width: 100%;
    height: auto;
}

#link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2%;
}