#project_detail {
    display: flex;
    flex-direction: column;
}

#project_detail a {
    text-decoration: underline;
}

#demo-vid {
    width: 100%;
}

iframe {
    width: 100%;
    height: 500px;
}