.projectSum {
    padding: 2%;
}

.projectSum a{
    text-decoration: none;
}

.projectName {
    display: flex;
}

h2 {
    font-weight: bolder;
}

/*large desktop screens*/
@media (min-width: 1500px) {
    h2 {
        font-size: 1.7em;
    }
}