html {
    font-family: 'Saira Condensed', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-image: url("https://lh3.googleusercontent.com/02TSE2w-KVtfAhb-7xWZruXHOrw-PbbrJ-H3IYT8Jy3AMPHnbQjiopALRQqf6pQxBdFzxjfqedEGcd0_oXhOZgzWPwB6PpLHDrcjQvOPo30wi0L_VYFFEPmbMdCgiS7P7HmKHsGB=w2400"); */
    /* background-image: url("assets/Screen\ Shot\ 2022-08-06\ at\ 3.05.55\ PM.jpeg"); */
    /* background-size: 1631px; */
    background-image: url("https://lh3.googleusercontent.com/tjJ6X8Y9VRpXQUv5GJIONsQibyYAHHu_agWB-EX3bh8X_Tf1JETPlVdu74e289rFPfx5roQiI1LWBB1gL5m8pCIiDLodLmgfMDiI6ZpijsD0YhTRz9AMcmgoeItgoT36g72IZy9D=w2400");
    color: white;
    font-family: 'Saira Condensed', cursive;
    font-size: 1.2em;
}


#whole-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    text-align: center;
}

.header h1 {
    font-family: 'Square Peg', cursive;
    font-size: 4.5em;
    padding: 1%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

p {
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

/*large desktop screens*/
@media (min-width: 1500px) {
    body {
        font-size: 1.5em;
    }

    #icons {
        padding: 0;
    }

    #icons a {
        display: flex;
        align-items: center;
    }
}

/*regular desktop screens*/
@media (max-width: 1399px) and (min-width: 992px) {

}

/*tablet screen*/
@media (max-width: 991px) and (min-width: 768px) {
    #whole-container {
        width: 70%;
    }
}
/*mobile screen*/
@media (max-width: 767px) {
    #whole-container {
        width: 90%
    }
}